<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="connection.url">jdbc:mariadb://localhost:3306/donato?serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--<property name="hibernate.default_schema">PUBLIC</property>-->
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MariaDB103Dialect</property>

        <!-- Validate the database schema on startup -->
        <!--<property name="hbm2ddl.auto">validate</property>-->

        <!-- Names the annotated entity class -->
        <mapping class="com.mycompany.entities.Person"/>
        <mapping class="com.mycompany.entities.Products"/>
        
    </session-factory>
</hibernate-configuration>
